body{
	margin: 0; padding: 0;
	box-sizing: border-box;

font-family: 'Raleway', sans-serif;
background: url("flag.jpg") top center no-repeat fixed;
background-size: cover;


}
#wrapper{
	width: 100%; height: 100%;
	position: absolute;
	display: flex; justify-content: center;
}
#center{
	width: 70%; height: auto;
	position: absolute;
}
#coverphoto{
	width: 100%; height: auto;
	background-color: black;

}
#coverphoto img{
	width: 80%; height: auto;
	
}
#socialmediatrump img{
	width: 200px; 
	float: right;
	display: block;
	margin-left: 3px;

}

#robertmueller img{
	width: 200px; 
	float: left;
	display: block;
	margin-right: 3px;

}

#rightcolumn{

display: inline-block;
width: 20%;
float: right;
padding: 50px;
background-color: grey;
height: 100%;
position: relative;
margin-top: 5%;
}


#text{
display: inline-block;
width: 55%;
background-color: white;


}

blockquote{
	font-size: 30px;
	font-style: italic;
}

a{
	color: inherit; 

}


a:hover{

color: orange;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
